<app-frame>
  <div class="app-wrapper">
    <div class="coversation-container">
      <div class="coversation-wrapper">
        @for (chat of $conversation(); track $index) {
        <div class="coversation-prompt">
          <p class="coversation-box-prompt">
            {{ chat.prompt }}
          </p>
        </div>
        <div class="coversation-response" #focusArea>
          <img class="coversation-avatar" src="lovics2.png" />
          <p class="coversation-box-response">
            <span class="response-type">{{ chat.response }}</span>
          </p>
        </div>
        }
      </div>
    </div>
    <app-input class="app-input" (submitted)="onSubmit()" />
  </div>
</app-frame>
